html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }
			
			.form-control{
				
				
				font-weight: bold;
			}
			
			
			.custom-select{
				
				
				font-weight: bold;
			}
			
			
			td{
				font-weight: bold;
				
			}
			
			custom-select
			
			input,select{
				
				color:black;

font-weight:bold;

	
}
			
			.dataTables_filter {
     
	 padding: 0;
	      margin: 0px;
		  width:999px;
		   align-items: right;
                
}
			
			
			

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

.top-dropdown{
	background-color: #676464;
}


.dropdown-item:hover{
	background-color: #046475;
}

.navbar-nav > .nav-item > .nav-link:hover{
	color: white;
}

#login-view{
    background-color: rgba(66, 62, 62, 0.79);
	border-radius: 10px;
	padding: 20px;
	color: white;
    position: absolute;
    right: 33%;
	bottom: 25%;
}

#login-viewold{
	background-color: #423e3e;
	padding: 20px;
	color: white;
	position: absolute;
	right: 33%;
	bottom: 25%;
	border-radius: 10px;
}

.estate-title{
    position: absolute;
    right: 6%;
    top: 10%;
    font-size: 50px;
}


hr {
  margin-top: 0rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 5px solid rgb(169,169,169);
}

.welcome-body{
    background-image: url('/meeeting.jpg');
}



/* Style the tab */
div.tab {
    overflow: hidden;
}

.tab-group{
    border-bottom: 1px solid #cccccc;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    outline: none;
    cursor: pointer;
    width: 240px;
    padding: 14px 16px;
    transition: 0.3s;
    color: #cccccc;
    border: none;
    font-weight: bold;
    font-size: small;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    color: black;
}

/* Create an active/current tablink class */
div.tab button.active {
    color: black;
    border-bottom: 2px solid #cccccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    margin-top: 50px;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.dataTables_filter {
   width: 80%;
   float: right;
padding: 20px 60px;
   text-align: right;
}

#wo-details{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*line-height: 16px;     !* fallback *!*/
    /*max-height: 32px;      !* fallback *!*/
    -webkit-line-clamp: 3; /* number of lines to show */
}






tr {
 width:12px;
}

thead{
 background-color: red;
     
}


tr{
          

}

img {
  object-fit: cover;
  width:250px;
  height:250px;
  
